/* impostazioni di pagina */
* {
  padding: 0;
  margin: 0;
  box-sizing:
}

/* header */
header {
   margin-top: 100px;
   text-align: center;
   color: red;
}
/* /header */
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* main */
.container_father {
  width: 900;
  height: 500;
  margin-left: 100px;
}

.container_child {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.discount {
  width: 50px;
  height: 25px;
  border: 1px solid black;
  position: absolute;
  right: 0%;
  top:0%;
}

.container_child .discount {
  background-color: red;
}
.heart {
  position: absolute;
  bottom: 0%;
  left: 50%;
}

strong {
  text-align: center;

}

#child_1 {
  background-image: url("../img/pd1.jpg");
  background-repeat: no-repeat;
}
#child_2 {
  background-image: url("../img/pd3.jpg");
  background-repeat: no-repeat;

}#child_3 {
  background-image: url("../img/pd2.jpg");
  background-repeat: no-repeat;
}

.heart:hover{
  color: red;

}
